mark { background-color:#ff9; color:#000; font-style:normal; font-weight:bold; }

.hidden { display: none; }

.navbar {
  margin-bottom: 0;
}

.label-gold {
  background: #CFB53B;
}

table {
  border: 0;
}

td {
  text-align: center; 
}

img {
  border: 0;
}